html{
    background-color: #000000;
    background: radial-gradient(circle at top, #c60721, #000000);
}

body {
    min-height: 100vh;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
	margin: 0;
}

.footer {
    font-size: 0.875rem;
    opacity: 0.6;
}

h1::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: linear-gradient(90deg, rgba(0, 169, 34, 1) 0%, rgba(0, 92, 20, 1) 100%);
    transition: transform .3s ease;
    z-index: -1;
    height: 0.1rem;
}

h1 {
    position: relative;
    font-size: 5rem;
    cursor: pointer;
}

.social-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.social-list img {
    width: 10rem;
    transition: transform 0.25s ease, filter 0.25s ease;
}

.social-list a:hover img {
    transform: scale(1.15);
}

#msg {
    transition: all 0.6s ease-in-out;
    position: absolute;
    z-index: -1;
    font-size: 25vw;
    display: block;
    opacity: 0;
}

#msg.opacity {
    opacity: 0.1;
}

@media (max-width: 1024px) {
    .social-list img {
        width: 8rem;
    }
}

@media (max-width: 780px) {
    .social-list {
        flex-direction: column;
    }
}